.page {
    height: 100%;
    margin-top: 32px;
    display: flex;
    gap: 32px;
}

.mainframe {
    display: grid;
    grid-gap: 32px;
    grid-template-areas: 
    "a a a a b b"
    "d d d c c c";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.sidebar {
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    grid-template-rows: calc(80% - 32px) 20%;
    grid-template-areas: 
    "q"
    "links";
}

.a {
    grid-area: a;
}

.pic {
    grid-area: b;
}

.description {
    grid-area: d;
}

.contacts {
    grid-area: c;
}

.c {
    grid-area: q;
}

.links {
    grid-area: links;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}